<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      Account Deleted Successfully...
      <a href="/">Back to HomePage</a>
  </body>
</html>
