<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="css/styles5.css">
      <style media="screen">
        input{width:70%;}
      </style>
  </head>
  <body>

    <div class="form">

     <form class="" action="/register" method="post">
         <h1>Register</h1>
       <label for="fName">First Name:</label>
       <input type="text" name="Fname" value="" placeholder="Enter first name"><br>
       <label for="lName">Last Name:</label>
       <input type="text" name="Lname" value=""placeholder="Enter last name"><br>
       <label for="date">Date of Birth:</label>
       <input type="date" name="date" value=""><br>
       <label for="username">Email:</label><br>
       <input type="email" name="username" value=""placeholder="Enter email"><br>
       <label for="pass">Password:</label>
       <input type="password" name="password" value=""placeholder="Enter password"><br>
       <button type="submit" name="button">Register</button>
     </form>
     	<a href="/">Back</a>
    </div>
  </body>
</html>
